@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --white: #f5f5f5;
  --black: #0a0f0d;
  --light-blue: #95d9f1;
  --blue: #92b4ec;
  --yellow: #faf2a1;
}

div {
  border-radius: 10px;
  text-align: center;
}

.title-text {
  width: 100%;
}
